# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.json
.terraformrc
terraform.rc
.terraform.lock.hcl
crash.log

# AWS
.aws/
*.pem
*.ppk

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project specific
data/raw/*
!data/raw/providers/sample_providers.csv
!data/raw/clients/sample_clients.csv
!data/raw/transactions/sample_transactions.csv
*.parquet
logs/
temp/ 